/* Esto es un ejemplo en tu archivo de estilos globales o tailwind.css */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out forwards; /* forwards mantiene el estado final */
  }
  